In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel('pokemon_data.xlsx')

In [ ]:
#df[['Name', 'HP']]

In [ ]:
df.sort_values('Name' , ascending=False)

MAKING CHANGES.

In [ ]:
df["Total"] = df.iloc[:,4:9].sum(axis=1)

In [ ]:
df

In [ ]:
dg = pd.read_excel('mails.xlsx')

In [ ]:
dg.head

In [ ]:
import re

def extract_emails_from_file(file_path):
    with open(file_path, 'r') as file:  # Use the provided file_path parameter
        text = file.read()
        email_pattern = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}\b'
        emails = re.findall(email_pattern, text)
        return emails

# Provide the path to your text file
file_path = r'D:\pandas\florida.gov.txt'  # Remove the quotes and escape the backslashes using 'r'
emails = extract_emails_from_file(file_path)

# Print the extracted emails
for email in emails:
    print(email)

In [ ]:
import csv
import re

def extract_emails_from_file(file_path):
    with open(file_path, 'r') as file:
        text = file.read()
        email_pattern = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}\b'
        emails = re.findall(email_pattern, text)
        return emails

# Provide the path to your text file
file_path = r'D:\pandas\florida.gov.txt'
emails = extract_emails_from_file(file_path)

# Specify the output CSV file path
output_csv_path = r'D:\pandas\mailings.csv'

# Write emails to CSV file
with open(output_csv_path, 'w', newline='') as csv_file:
    writer = csv.writer(csv_file)
    writer.writerow(['Emails'])
    for email in emails:
        writer.writerow([email])

print(f"Emails saved to {output_csv_path}")

In [ ]:
import numpy as np
import pandas as pd

In [6]:
x = np.arange(0,28).reshape(7,4)

In [7]:
x

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23],
       [24, 25, 26, 27]])

In [8]:
ef = pd.DataFrame(data = x, columns = ["VAL1", "VAL2", "VAL3", "VAL4"])

In [16]:
ef.groupby(["method"]).mean()

KeyError: 'method'

In [24]:
ef.drop(["VAL3", "VAL4"] ,axis=1, inplace=True)

In [25]:
ef

   VAL1  VAL2
0     0     1
1     4     5
2     8     9
3    12    13
4    16    17
5    20    21
6    24    25

In [26]:
ef.drop([2,5], axis=0 ,inplace=True)

In [27]:
ef

   VAL1  VAL2
0     0     1
1     4     5
3    12    13
4    16    17
6    24    25

In [1]:
import pandas as pd
import numpy as np

In [11]:
dg = pd.DataFrame({'groups': ['X', 'Y', 'Z', 'X', 'Y', 'Z'],
                   'val1': [2, 25, 13, 45, 12],
                   'val2': [170, 265, 173, 345, 112]})

ValueError: All arrays must be of the same length

In [1]:
import pandas as pd
import numpy as np

In [3]:
gif = pd.read_csv("pokemon_data.csv")

In [7]:
gif.sort_values(by='Attack', ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True
429,386,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True
...,...,...,...,...,...,...,...,...,...,...,...,...
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
488,440,Happiny,Normal,NaN,100,5,5,15,65,30,4,False

In [8]:
gif.drop(columns=['#'])
gif

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

AttributeError: 'DataFrame' object has no attribute 'displot'