In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.DataFrame({"key1" : ["a", "a", None, "b", "b", "a", None],
                     "key2" : pd.Series([1, 2, 1, 2, 1, None, 1],
                                        dtype="Int64"),
                   "data1" : np.random.standard_normal(7),
                      "data2" : np.random.standard_normal(7)})

In [3]:
df

   key1  key2     data1     data2
0     a     1  0.491095  1.338614
1     a     2 -0.202363 -1.119968
2  None     1 -0.129370 -0.116246
3     b     2  2.107670 -0.171098
4     b     1 -1.359110  0.653891
5     a  <NA>  0.537678  0.182418
6  None     1  0.666060 -0.337563

In [8]:
df.groupby("key1").mean()

      key2    data1     data2
key1
a      1.5  0.27547  0.133688
b      1.5  0.37428  0.241396

In [3]:
data = pd.read_csv('data.csv')